.footer {
    font-size: small;
}

.form-label-lg {
    font-size: 1.25rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

.card {
    &-body {
        .card-title,
        .card-subtitle {
            color: $brand-primary-200;
            font-weight: normal;
        }

        // .card-subtitle {
        //     color: $brand-primary-100 !important;
        // }
    }
}

.pm {
    padding: 15px;
}