$modal-header-border-width: 0;

// color
$brand-primary: #e168e1;
$brand-secondary: #68e168;
$brand-primary-200: #6f166f;
$brand-primary-150: #901d90;
$brand-primary-100: $brand-primary;
$brand-primary-80: #e478e4;
$brand-primary-60: #e889e8;
$brand-primary-40: #eea9ee;
$brand-primary-20: #f5caf5;
$brand-primary-10: #fbebfb;